<md-dialog>
  <md-toolbar class="md-padding">Register class</md-toolbar>
  <md-dialog-content class="md-padding">
    <md-input-container class="md-block" flex>
      <label>Class Name</label>
      <input type="text" ng-model="vm.class.name" />
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label>Department</label>
      <input type="text" ng-model="vm.class.department" />
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label>Level</label>
      <input type="text" ng-model="vm.class.level" />
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
    <md-button class="md-primary" ng-click="vm.save()">create</md-button>
  </md-dialog-actions>
</md-dialog>
