<md-sidenav class="md-whiteframe-4dp" md-component-id="left" layout="column">
  <md-toolbar class="md-padding md-hue-2" layout-align="end start">
    <img src="admin/css/ic_launcher.png"/>
    University Note
    <div class="md-subhead">
      (Admin)
    </div>
  </md-toolbar>
  <md-list>
    <md-list-item ng-repeat="url in vm.urls">
      <md-button layout="row" ui-sref="{{url.state}}" ui-sref-active="md-primary" ng-click="vm.close()">
        <span >{{url.name}}</span>
      </md-button>
    </md-list-item>
  </md-list>
  <span flex></span>

  <md-button layout-align>
    <md-icon>power_settings_new</md-icon>
    <span>Logout<span>
  </md-button>
</md-sidenav>
