<md-card class="table">
  <md-toolbar class="md-table-toolbar">
    <div class="md-toolbar-tools">
      <span>Students</span>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected">
      <thead md-head>
        <tr md-row>
          <th md-column>ID</th>
          <th md-column>Name</th>
          <th md-column>Email</th>
          <th md-column>phone</th>
          <th md-column>class</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="student" md-select-id="{{student.user_id}}" md-auto-select ng-repeat="student in vm.students | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
          <td md-cell>{{student.id}}</td>
          <td md-cell>{{student.name}}</td>
          <td md-cell>{{student.email}}</td>
          <td md-cell>{{student.phone}}</td>
          <td md-cell>{{student.class}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5,10,15]" md-page="vm.query.page" md-total="{{vm.students.length}}" md-page-select=true></md-table-pagination>
</md-card>
</md-card>

<md-button class="md-fab md-fab-bottom-right" aria-label="add" ng-click="vm.create()">
  <md-icon md-svg-icon="add"></md-icon>
</md-button>
