<md-card class="table">
  <md-toolbar class="md-table-toolbar" ng-show="!vm.selected.length">
    <div class="md-toolbar-tools">
      <span>teachers</span>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selected.length">
    <div class="md-toolbar-tools">
      {{vm.selected.length}} {{vm.selected.length > 1 ? "Teachers" : "Teacher"}} selected
      <div flex></div>
      <md-button  class="md-icon-button" aria-label="edit" ng-hide="vm.selected.length > 1" ng-click="vm.update(vm.selected[0])">
        <md-icon md-svg-icon="edit"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="disable" ng-click="vm.delete(vm.selected)">
        <md-icon md-svg-icon="delete"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected">
      <thead md-head>
        <tr md-row>
          <th md-column>ID</th>
          <th md-column>Name</th>
          <th md-column>Email</th>
          <th md-column>phone</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="teacher" md-select-id="{{user_id}}" md-auto-select ng-repeat="teacher in vm.teachers  | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
          <td md-cell>{{teacher.id}}</td>
          <td md-cell>{{teacher.name}}</td>
          <td md-cell>{{teacher.email}}</td>
          <td md-cell>{{teacher.phone}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5,10,15]" md-page="vm.query.page" md-total="{{vm.teachers.length}}" md-page-select=true></md-table-pagination>
</md-card>

<md-button class="md-fab md-fab-bottom-right" aria-label="add" ng-click="vm.create()">
  <md-icon md-svg-icon="add"></md-icon>
</md-button>
