.md-button.md-fab.md-fab-bottom-right {
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
  position: fixed;
}
md-sidenav .md-button {
  width: 100%;
  text-align: left;
  text-transform: capitalize;
  margin: 0px;
  padding-left: 16px;
  border-radius: 0px;
}
md-sidenav > md-toolbar {
  height: 180px;
}
md-icon + span {
  padding: 12px;
}
#toolbar {
  margin-bottom: -80px;
  height: 120px;
}

md-dialog > md-toolbar, md-card > md-toolbar {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.md-default{
  padding: 24px;
}
#view, #auth{
  height: 100%;
}
#auth{
  background-image: url("notebook-min.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
  color: #ffffff;
}
@media screen and (min-width: 840px) {
  #main {
    margin-left: 90px;
    margin-right: 90px;
  }
  .md-button.md-fab.md-fab-bottom-right {
    bottom: auto;
    right: 20px;
    top: 195px;
    left: auto;
    position: absolute;
  }
  md-dialog {
    min-width: 30%;
  }
  .table {
    z-index: 2 !important;
    position: absolute;
    top: 65px;
    bottom: auto;
    left: 110px;
    right: 110px;
  }
  #toolbar{
      height: 230px;
  }
}
