toolbar.title{
  padding-left: 24px;
}
.md-button.md-fab.md-fab-bottom-right {
top: auto;
right: 20px;
bottom: 20px;
left: auto;
position: fixed;
}
md-list .md-button {
  width: 100%;
  text-align: left;
  text-transform: capitalize;;
}
